.Title {
    font-size: 3em;
    text-align: left;
    margin-top: 5%;
}

.services {
    padding-left: 5%;
    text-align: left;
}

.card-body {
    margin: 5%;
}

.segment-body {
    width: 100%;
    height: 100%;
}