.Title {
    font-size: 3em;
    text-align: right;
    margin-right: 10%;
    padding-bottom: '5%';
}

.Gallery {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
}