.Home {
    text-align: center;
    color: black;
}

.intro-header {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: left;
}

.Footer {
    min-height: 30vh;
    justify-content: center;
    font-size: 2vmin;
}

.Social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 900px){
    .Social-media-icons {
        padding-top: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .Logo-alignment {
        padding-top: 20%;
    }
}

@media only screen and (max-width: 1200px) {
    .Logo-alignment {
        padding-top: 25%;
    }
}

@media only screen and (max-width: 1366px) {
    .Logo-alignment {
        padding-top: 1%;
    }
}
